
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Lobster&family=Permanent+Marker&family=Qahiri&family=Spartan&display=swap');

/* font-family: 'Irish Grover', cursive;
font-family: 'Lobster', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Qahiri', sans-serif;
font-family: 'Spartan', sans-serif; */